<?xml version="1.0" encoding="UTF-8"?> 
	<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN" 
		"http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">
	<!-- namespace表示命名空间 ，值必须为接口的名称（包括包名）-->
	<!-- 实现类没有，mybatis框架会生成接口的实现类 -->
	<mapper namespace="cn.tedu.store.mapper.UserMapper">
		<insert id="insertUser" 
	parameterType="cn.tedu.store.bean.User">
		insert into t_user(
			username,password,email,phone,created_user,created_time,modified_user,modified_time
		)
		values(
			#{username},
			#{password},
			#{email},
			#{phone},
			#{createdUser},
			#{createdTime},
			#{modifiedUser},
			#{modifiedTime}
		)
</insert>
	<!-- 当参数类型为基本类型的时候可以省略 
		查询的字段名如果和bean的字段名不一样不能用*
		可以使用别名或者resultMap-->
	<select id="selectByUsername"
	parameterType="java.lang.String"
	resultType="cn.tedu.store.bean.User">
			SELECT id,username,password,email,phone,image,gender,created_user createdUser,
			created_time createdTime,modified_user modifiedUser,modified_time modifiedTime
			FROM t_user where username=#{username}
	</select>
	<select id="selectUserById"
		parameterType="java.lang.Integer"
		resultMap="map">
		SELECT * FROM t_user where id=#{id}
	</select>
	<select id="selectByEmail"
		resultType="java.lang.Integer">
			SELECT count(*) FROM t_user where email= #{email}
	</select>
		<select id="selectByPhone"
		resultType="java.lang.Integer">
			SELECT count(*) FROM t_user where phone= #{phone}
	</select>
	<resultMap type="cn.tedu.store.bean.User" id="map">
		<id column="id" property="id"/>
		<result column="username" property="username"/>
		<result column="password" property="password"/>
		<result column="email" property="email"/>
		<result column="phone" property="phone"/>
		<result column="image" property="image"/>
		<result column="gender" property="gender"/>
		<result column="created_user" property="createdUser"/>
		<result column="created_time" property="createdTime"/>
		<result column="modified_user" property="modifiedUser"/>
		<result column="modified_time" property="modifiedTime"/>
	</resultMap>
	<update id="updateUser"
		parameterType="cn.tedu.store.bean.User">
		update t_user
		<set>
			<if test="password!=null">
				password=#{password},
			</if>
			<if test="username!=null">
				username=#{username},
			</if>
			<if test="phone!=null">
				phone=#{phone},
			</if>
			<if test="gender!=null">
				gender=#{gender},
			</if>
			<if test="email!=null">
				email=#{email},
			</if>
			<if test="modifiedUser!=null">
				modified_user=#{modifiedUser},
			</if>
			<if test="modifiedTime!=null">
				modified_time=#{modifiedTime}
			</if>
		</set>
		<where>
			id=#{id}
		</where>	
	</update>
	<update id="updateImage">
		update t_user
		set image=#{image}
		where id=#{id}
	</update>
</mapper>
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	